<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PendingFilesProcessLimit" value="10"/>
    <add key="BaseFilePath" value="C:\Source\Projects\UniversalOrderProcessor\UniversalOrderProcessor\Tests\SampleProcessing\IncomingTranslator"/>
    <add key="ErrorFilePath" value="Error"/>
    <add key="SuccessFilePath" value="Success"/>
    <add key="PendingFilesLocation" value="Pending"/>
    <add key="UnknownFilesLocation" value="Unknown"/>
    <add key="ShipmentNamePattern" value="^NAVASN.*$"/>
    <add key="InvoiceNamePattern" value="^NAVINV.*$"/>
    <add key="AcknowledgmentNamePattern" value="^NAVACK.*$"/>
    <add key="ElectronicDataNamePattern" value="^NAVEDI.*$"/>
  </appSettings>
</configuration>